<div class="ui ten centered segment" *ngIf="profile">
  <div class="row">
      <img class="ui small circular imae" src="{{(profile).avatarURL}}">
      <h1>{{(profile).firstName}} {{(profile).lastName}} </h1>
      <button class="ui green button">Створити лабу</button>
  </div>
  <div class="ui horizontal statistics right aligned">
    <div class="statistic">
      <div class="value">
        2,204
      </div>
      <div class="label">
        Зроблено лаб
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        3,322
      </div>
      <div class="label">
        Опубліковано лаб
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        22
      </div>
      <div class="label">
        Зроблено пропозицій
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <p>Overview
    Hi, i am Ukrainian software engineer
    I have strong passion to web development
    Working experience with real project is 1 year
    Currently working as Javascript Full-Stack Developer in start-up in Kiev

    My key skills are:
    *** BACKEND ****
    Node.js + Express
    Databases: MongoDB, Postgres, Mysql, SQLite
    ORM: Sequelize.js
    ODM: Mongoose
    Geocoders API: Nominatim OSM, Google Geocoder, Yandex, Visicom
    SocketIO
    Web-scrapping: Cheerio, Request, request-promise

    *** FRONT-END ***
    HTML, CSS
    Jade
    Responsive-design
    CSS animation
    Bootstrap, Semantic UI
    Vanilla JS, ES6
    Typescript
    Angular 2
  </p>


</div>
