<div class="item">
  <div class="content">
    <a class="header" href="https://google.com">Лаба з чисельних методів</a>
    <div class="meta">
      <span class="cinema">Середня складність - Приблизний бюджет ₴150</span>
    </div>
    <div class="description">
      <p>
        Постмодернізм у сучасній українській літературі виявляється в творчості Ю. Андруховича, 
        Ю. Іздрика, Л. Дереша, О. Ульяненка, С. Процюка, В. Медведя, О. Забужко, В. Кураша та інших.
      </p>
    </div>
    <div class="extra">
      <div class="ui label">Чисельні методи</div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
