<div class="content">
  <a class="header" (click)="onViewLabItem(this.lab)">{{ lab.name }}</a>
  <div class="meta">
    <span class="cinema"><b>Author: </b><a href="">{{lab.author.username}}</a></span>
  </div>
  <div class="description">
    <p>{{lab.description}}</p>
    <p><b>Дата закінчення:</b> {{lab.endDate | date:'fullDate'}}  </p>
  </div>
  <div class="extra">
    <div class="ui label">{{lab.subject | subject}}</div>
    <button class="ui right floated primary button" (click)="onViewLabItem(lab.id)">
      Зробити ставку
      <i class="right chevron icon"></i>
    </button>
  </div>
</div>
