<div class="ui segment" *ngIf="labs" (labsUpdated)="labsUpdate($event)">
  <div class="ui grid grey-background">
    <lab-search-form (labsUpdated)="labsUpdate($event)"></lab-search-form>
    <div class="ten wide column">
        <div class="ui segment">
          <div class="content">
            <div class="ui divided items">
                <lab-item [lab]="lab"
                          class="item"
                          *ngFor="let lab of labs | paginate:
                                  { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total };
                                  let i = index;">
                </lab-item>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="ui center aligned cegment">
            <pagination-controls (pageChange)="defaultSearch($event)" id="server"></pagination-controls>
          </div>
        </div>
    </div>
  </div>
</div>
